body {
    background-color: aquamarine;
    text-align: center;
    position: relative;
    margin: 0%;
}

header {
    background-color: blanchedalmond;
    width: 100%;
    height: 56px;
    position: absolute;
    top: 0;
    padding-bottom: 17px;
}

#tHeader {
    margin-top: 80px;
    padding: 12px;
} 

#h11 {
    font-family: 'Lobster', cursive;
    font-weight: bold;
}

button {
    width: 80%;
    margin: 10px 10px;
    height: 45px;
    border-radius: 17px;
    font-size: large;
    font-weight: bold;
    background-color: azure;
}

#fonts {
    font-family: 'Carter One', cursive;
}

#love {
    font-family: cursive;
    font-weight: bolder;
    font-size: larger;
}

#profile {
    font-family: 'Carter One', cursive;
}

#maelezo {
    background-color: white;
    width: 90%;
    margin: auto;
    border-radius: 12px;
    padding: 12px;
}

#fontsMaelezo, #profileMaelezo {
    background-color: darkorange;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    opacity: 0.8;
}

#loveMaelezo {
    background-color: red;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    opacity: 0.8;
}

#tHeader1 {
    padding: 12px;
} 

footer {
    background-color: blanchedalmond;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
}
